body {
    background-image: radial-gradient(#470964, #6d00d9);
    height: 100vh;
    position: relative;
    font-family: Arial, sans-serif;
}
h1 {
    color: #ffffff;

}
.navbar {
    background-color: black;
    height: 8vh;
    font-style: italic;
    
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.link {
    
    font-size: 3vh;
    padding: 2vh;
    display: flex;
    justify-content: end;
    margin-left: 0%;
    color: white;
    font-style: italic
    
}
#linelink {
    text-decoration: none;
    color: white;
}
.centralizar {
    color: white;
    text-align: center;
}
.centralizartitle {
    color: white;
    text-align: center;
    width: 100%;

}
.comenttext {
    color: white;
    margin: 20px;
    
}
.organize{
    display: flex;
}

.price {
    color: goldenrod;
    margin: 5px 50px 35px 5px;
    text-align:end;
    font-style: oblique;
    
    
}
.carpromo {

    padding: 5px;
    margin: 20px;
    display: flex;
    
}

.carnorml {

    padding: 5px;
    margin: 20px;
    display: flex;
    
}

.car1 {
    border:2px solid orange;
    padding: 5px;
    width: 25%;
    margin: 20px 20px 20px 2%;
    
}
.car2 {
    border:2px solid orange;
    padding: 5px;
    width: 25%;
    margin: 20px;
    
}
.car3 {
    border:2px solid orange;
    padding: 5px;
    width: 25%;
    margin: 20px;
    
}
.car4 {
    border:2px solid orange;
    padding: 5px;
    width: 25%;
    margin: 20px 2% 20px 20px ;
    
}
.imagem {
    width: 80%;
    margin: 20px;

}
.pricbt {
  width: 50%;
  padding: 10px;
  background-color: #4c0096;
  color: #4c0096;
  font-weight: bold;
  border:2px solid goldenrod;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.8s ease;
}

.pricbt:hover {
  background-color: goldenrod;
}
